$primary: #f2b003;
$secondary: #ec6e4c;
$tertiary: #149ce8;

// Landing Section Colors
$landingSectionBg: #111726;
$landingSectionText: #ffffff;
$transitionSectionBg: linear-gradient(180deg, #ec6e4c 40.1%, #f2b82f 100%);

$weatherSectionBgFilter: rgba(0, 0, 10, 0.6);
$weatherConditionBg: rgba(0, 0, 10, 0.9);
