@use "../../../../../../../sass/color";
@use "../../../../../../../sass/mixin";

.weather__header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid color.$landingSectionText;

  text-align: left;
  font-size: 2.4rem;

  @include mixin.tabletStyle {
    flex-direction: row;
    justify-content: space-between;
  }

  select {
    background-color: #00000000;
    outline: none;
    border: none;

    width: 100%;
    font-size: 2rem;
    color: color.$landingSectionText;

    @include mixin.desktopStyle {
      &:hover {
        background-color: #ffffff10;
      }
    }

    & > option {
      background-color: grey;
    }
  }
}
